bokeh==2.2.3
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorcet==2.0.2
cycler==0.10.0
dask==2.30.0
datashader==0.11.1
datashape==0.5.2
distributed==2.30.1
fsspec==0.8.4
HeapDict==1.0.1
holoviews==1.13.5
idna==2.10
Jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
llvmlite==0.34.0
locket==0.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
msgpack==1.0.0
multipledispatch==0.6.0
numba==0.51.2
numpy==1.19.4
packaging==20.4
pandas==1.1.4
panel==0.10.2
param==1.10.0
partd==1.1.0
Pillow==8.0.1
psutil==5.7.3
pyct==0.4.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pyviz-comms==0.7.6
PyYAML==5.3.1
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
sortedcontainers==2.3.0
tblib==1.7.0
threadpoolctl==2.1.0
toolz==0.11.1
tornado==6.1
tqdm==4.53.0
typing-extensions==3.7.4.3
umap-learn==0.4.6
urllib3==1.26.2
xarray==0.16.1
zict==2.0.0
